---
layout: single
classes: wide
---

{{ Contents }}

<h4>Non-Technical Articles for General Audience</h4>

<div class="jtitle"><a href="https://doi.org/10.1016/j.jedc.2020.103883">Capital Income Taxation with Housing</a></div>
<div class="jtext"><b><i>Journal of Economic Dynamics and Control</i></b>, 115, June 2020, 103883. <a href="/files/paper/htax-paper-200107.pdf"><b>[WP Version]</b></a></div>
<div class="jabst">I quantitatively investigate capital income taxation using a general-equilibrium heterogeneous-agent model with housing.</div>

