---
layout: single
classes: wide
---

{{ content }}

<h4>Non-Technical Articles for General Audience</h4>

<div class="jtitle"><a href="/files/br/eiq217_taxingonepercent.pdf">Taxing the 1 Percent</a></div>
<div class="jtext"><b><i>FRB Philadelphia Economic Insights</i></b>, 2017 Q2, pp. 1-10.</div>
<div class="jabst">I explore pros and cons of taxting heavily the individuals with highest income.</div>

<div class="jtitle"><a href="/files/br/brq215_the_redistritutive_consequences_of_monetary_policy.pdf">The Redistritutive Consequences of Monetary Policy</a></div>
<div class="jtext"><b><i>FRB Philadelphia Business Review</i></b>, 2015 Q2, pp. 9-16.</div>
<div class="jabst">I explore how monetary policy affects diverse households in a society differently, and potentially creates winners and losers.</div>
<div class="jtext">- Cited in <a href="https://www.brookings.edu/blog/ben-bernanke/2015/06/01/monetary-policy-and-inequality/">Ben Bernanke's blog</a>.</div>
<div class="jtext">- Featured in <a href="http://blogs.wsj.com/economics/2015/06/08/fed-policy-may-have-widened-americas-wealth-inequality-philadelphia-fed-paper-says/">Wall Street Journal</a>.</div>
<div class="jtext">- Cited in <a href="http://jp.wsj.com/articles/SB10913733382003054274504581037101595267910">Japanese edition of Wall Street Journal</a>.</div>
<div class="jtext">- Featured in <a href="http://www.moneycontrol.com/news/world-news/calling-timezero-ratesqe-analysis_1404150.html">Reuter article</a>.</div>

<div class="jtitle"><a href="/files/br/brq213_the-diverse-impacts-of-the-great-recession.pdf">The Diverse Impacts of the Great Recession</a></div>
<div class="jtext"><b><i>FRB Philadelphia Business Review</i></b>, 2013 Q2, pp. 17-29.</div>
<div class="jabst">I illustrate how the Great Recession affected diverse households differently.</div>

<div class="jtitle"><a href="/files/br/brq112_everything-you-always-wanted-to-know-about-reverse-mortgages.pdf">Everything You Always Wanted to Know about Reverse Mortgages but were Afraid to Ask</a></div>
<div class="jtext"><b><i>FRB Philadelphia Business Review</i></b>, 2012 Q1, pp. 19-31.</div>
<div class="jabst">I explain characteristics of Reverse Mortgage Loans (RMLs).</div>

<div class="jtitle"><a href="/files/br/brq211_understanding-house-price-dynamics.pdf">Understanding House-Price Dynamics</a></div>
<div class="jtext"><b><i>FRB Philadelphia Business Review</i></b>, 2011 Q2, pp. 20-28.</div>
<div class="jabst">I investigate various drivvers of house price dynamics.</div>
