---
layout: single
classes: wide
---

{{ content }}

<h5>Notes on Computational Methods for Macroeconomics</h5>
<div class="norm">Below is a set of notes that I created and used when I was teaching the course "Computational Methods for Macroeconomics" at UIUC. Please use with caution, as that there are (possibly numerous) typos and mistakes in the notes (that's what David Wiczer told me). I am hoping that I can make these notes, with additional materials that I accumulated and with companion codes (written in Fortran 90, Matlab, and Julia) into a book (can anybody help me?).</div>

<h6>Notes on Message Passing Interface (MPI)</h6>
<div class="norm">Below are the materials that I used to give lectures on practical introduction on message passing interface (MPI), with a focus on solving cannonical heterogeneous-agent models using parallel cluster.</div>
  
