---
layout: single
classes: wide
---

{{ content }}

<h5>Notes on Computational Methods for Macroeconomics</h5>
<div class="norm">Below is a set of notes that I created and used when I was teaching the course "Computational Methods for Macroeconomics" at UIUC. Please use with caution, as that there are (possibly numerous) typos and mistakes in the notes (that's what David Wiczer told me). I am hoping that I can make these notes, with additional materials that I accumulated and with companion codes (written in Fortran 90, Matlab, and Julia) into a book (can anybody help me?).</div>
<ol>
  <li>Introduction to dynamic programming</li>
  <li>Numerical methods: Approximation of normal distribution and AR(1)</li>
  <li>Numerical methods: Approximation using Checbyshev polynomials</li>
  <li>Numerical methods: One-dimensional optimization</li>
  <li>Numerical methods: Numerical differentiation</li>
  <li>Solving neoclassical growth model: Introduction</li>
  <li>Solving neoclassical growth model: Value function iteration + Discretization</li>
  <li>Solving neoclassical growth model: Value function iteration + Finite Element Method</li>
  <li>Solving neoclassical growth model: Value function iteration + Checbyshev approximation</li>
  <li>Solving RBC model: Linear-quadratic apporximation</li>
  <li>Solving RBC model: Blanchard-Kahn</li>
  <li>Solving RBC model: Undetermined Coefficients</li>
  <li>Solving heterogeneous-agent model: Handling type distribution</li>
  <li>Solving heterogeneous-agent model: Aiyagari (QJE1994)</li>
  <li>Solving heterogeneous-agent model: Aiyagari (QJE1994) with some extensions</li>
  <li>Solving heterogeneous-agent model: Krusell-Smith (JPE1998)</li>
  <li>[Not Public] Solving heterogeneous-agent model: Krusell-Smith with labor supply decision (MD1997)</li>
  <li>[Not Public] Solving heterogeneous-agent model: Krusell-Smith with portfolio choice decision (MD1997)</li>
  <li>[Not Public] Solving heterogeneous-agent model: Limited commitment</li>
  <li>[Not Public] Solving models with sovereign defaults: Arellano (AER2008)</li>
  <li>[Not Public] Solving heterogeneous agent model: equilibrium bankruptcy: Chatterjee et. al. (ECO2007)</li>
  <li>[Not Public] Solving heterogeneous-agent model: Krusell-Smith + perturbation</li>
  <li>[Not Public] Solving heterogeneous-agent model: Krusell-Smith + MIT shock (Boppart et al., JEDC2018)</li>
  <li>[Not Public] Solving heterogeneous-agent model: Extension to HANK model</li>
</ol>

<h6>Notes on Message Passing Interface (MPI)</h6>
<div class="norm">Below are the materials that I used to give lectures on practical introduction on message passing interface (MPI), with a focus on solving cannonical heterogeneous-agent models using parallel cluster.</div>
<ol>
  <li><a href="/files/mpi/111115mpi-intro.pdf">Presentation slides</a></li>
</oi>

