---
layout: single
classes: wide
---

{{ content }}

<h5>Discussions</h5>
<div class="norm"></div>
</br>
<ol>
  <li class="li0"><a href="/files/discussion/191121boc-slide.pdf">Shocks, Frictions, and Inequality in the U.S. Business Cycles</a>, by Bayer, Born, and Leutticke, November 2019.</li>
  <li class="lin"><a href="/files/discussion/180510discuss-KOS.pdf">Sources of Inequality in Earnings Growth over the Life Cycle</a>, by Fatih Karahan, Serdar Ozkan, and Jae Song, May 2018.</li>
  <li class="lin"><a href="/files/discussion/180106conf-AEA-discuss.pdf">An Empirical Study of Termination Behavior of Reverse Mortgage</a>, by Shan Jiang, Chen Miller, and Tyler Yang, January 2018.</li>
  <li class="lin"><a href="/files/discussion/150911discuss-Auclert.pdf">Monetary Policy and the Redistribution Channel</a>, by Adrien Auclert, September 2015.</li>
  <li class="lin"><a href="/files/discussion/141002discuss-ATL-Aizawa-Fang.pdf">Equilibrium Labor Market Search and Health Insurance Reform</a>, Naoki Aizawa and Hanming Fang, October 2014.</li>
  <li class="lin"><a href="/files/discussion/130529discuss-Furlanetto-Groshenny.pdf">Mismatch Shocks and Unemployment during the Great Recession<</a>, Francesco Furlanetto and Nicolas Groshenny, May 2013.</li>
  <li class="lin"><a href="/files/discussion/130510discuss-McKay-Reis.pdf">The Role of Automatic Stabilizers in the U.S. Business Cycle</a>, Alisdair McKay and Ricardo Reis, May 2013.</li>
  <li class="lin"><a href="/files/discussion/120107discuss-Cerletti-Pijoan-aea.pdf">Durable Goods, Borrowing Constraints, and Consumption Insurance</a>, Enzo A. Cerletti and Josep Pijoan-Mas, January 2012.</li>
  <li class="lin"><a href="/files/discussion/110922pfed-ccp-slide.pdf">Mortgage Defaults</a>, Juan Carlos Hatchondo, Leonardo Martinez, and Juan M. Sanchez, September 2011.</li>
  <li class="lin"><a href="/files/discussion/100320discuss-MEA-slide.pdf">Run-up in the House Price-Rent Ratio: How Much can be Explained by Fundamentals</a>, Kamila Sommer, Paul Sullivan, and Randal Verbrugge, March 2010.</li>
  <li class="lin"><a href="/files/discussion/090518LSE-slide.pdf">Housing Debt over the Life Cycle and over the Business Cycle</a>, Matteo Iacoviello and Marina Pavan, May 2009.</li>
  <li class="lin"><a href="/files/discussion/090327philafed-slide.pdf">Precautionary Demand for Money in a Monetary Business Cycle Model</a>, Irina A. Telyukova and Ludo Visschers, March 2009.</li>
  <li class="lin"><a href="/files/discussion/081205nyfed-slide.pdf">A Quantitative Theory of Information and Unsecured Credit</a>, Kartik Athreya, Xuan S. Tam, and Eric R. Young, December 2008.</li>
  <li class="lin"><a href="/files/discussion/080920Kiyotaki-Riskbank.pdf">Winners and Losers in Housing Markets</a>, Nobuhiro Kiyotaki, Alexander Michaelides, and Kalin Nikolov, September 2008.</li>
</oi>
