---
layout: single
classes: wide
---

{{ content }}

<h5>Homepage of Makoto Nakajima</h5>
<div class="norm">Hi! I am an economist specialized in macroeconomics and computational methods, with emphasis on how economic policies affect diverse individuals differently and thus interact with inequality. I am currently Economic Advisor and Economist, at <a href='https://www.philadelphiafed.org/'>Federal Reserve Bank (FRB) of Philadelphia</a>, <a href='https://www.philadelphiafed.org/research-and-data'>Research Department</a>. I am also affiliated with <a href="https://www.philadelphiafed.org/consumer-finance-institute">Consumer Finance Institute (CFI)</a> of FRB Philadelphia, <a href="https://www.minneapolisfed.org/institute">Opportunity and Inclusive Growth Institute (OIGI)</a> of FRB Minneapolis, and <a href="https://hceconomics.uchicago.edu/">Human Capital and Economic Opportunity (HECO)</a> Global Working Group, at University of Chicago.</div>
<h6>Curriculum Vitae</h6>
<div class="norm"><a href='https://makotonakajima.github.io/files/cv/200829cv-makoto-nakajima.pdf'>Download CV</a></div>
<h6>What's New?</h6>
<ul class="norm">
  
<li class="li1"><emph>[October 2020]</emph> <strong>[NEW]</strong> Working paper <a href='/files/paper/cscovid-paper-201030.pdf'>"Consumption and Saving during the Pandemic"</a> is posted.</li>
<li class="lin"><emph>[August 2020]</emph> I am migrating my homepage from Google Sites to this GitHub. Any comments and suggestions are appreciated!</li>
  <li class="lin"><emph>[June 2020]</emph> I am preparing for the JHANK package, for solving and simulating Heterogneous-Agent New-Keynesian (HANK) models (relativley) easily. Once it is ready, I will post the package and instructions at <a href='/jhank/'>JHANK</a> page.</li>
<li class="lin"><emph>[June 2020]</emph> <a href='https://www.imes.boj.or.jp/research/abstracts/japanese/20-J-09.html'>"Literature Review of HANK Models: Implications of Household Heterogeneity for Monetary Transmission"</a> (Bank of Japan IMES Discussion Paper, in Japanese) is published.</li>
</ul>
