---
layout: single
classes: wide
---

{{ content }}

<h5>Homepage of Makoto Nakajima</h5>
<div class="norm">Hi! I am an economist specialized in macroeconomics and computational methods, with emphasis on how economic policies affect diverse individuals differently and thus interact with inequality. I am currently Economic Advisor and Economist, at <a href='https://www.philadelphiafed.org/'>Federal Reserve Bank (FRB) of Philadelphia</a>, <a href='https://www.philadelphiafed.org/research-and-data'>Research Department</a>. I am also affiliated with <a href="https://www.philadelphiafed.org/consumer-finance-institute">Consumer Finance Institute (CFI)</a> of FRB Philadelphia, <a href="https://www.minneapolisfed.org/institute">Opportunity and Inclusive Growth Institute (OIGI)</a> of FRB Minneapolis, and <a href="https://hceconomics.uchicago.edu/">Human Capital and Economic Opportunity (HECO)</a> Global Working Group, at University of Chicago.</div>
<h6>Curriculum Vitae</h6>
<div class="norm"><a href='https://makotonakajima.github.io/files/cv/cv-makoto-nakajima.pdf'>Download CV</a></div>
<h6>What's New?</h6>

<ul class="norm">
<li class="li1"><strg>[October 2022]</strg> New working paper <a href='/files/paper/jhank2-paper-221010.pdf'>"Monetary Policy with Racial Inequality"</a> is out. I will update again after cleaning up minor details.
<li class="lin"><emph>[June 2022]</emph> New version of <a href='/files/paper/nt3-paper-220509.pdf'>"Medical Expenses and Saving in Retirement: The Case of U.S. and Sweden"</a> (joint with Irina Telyukova) is out.
<li class="lin"><emph>[January 2022]</emph> New working paper <a href='/files/paper/jhank2-paper-211231.pdf'>"Monetary Policy with Racial Inequality"</a> is out. <a href='/files/paper/jhank2-slide-220105-sum.pdf'>Here</a> is a 2-slide summary.
<li class="lin"><emph>[June 2021]</emph> New version of <a href='/files/paper/gkn1-paper-210614-FRBP-WP.pdf'>"Doves for the Rich, Hawks for the Poor? Distributional Consequences of Systematic Monetary Policy"</a> is out. Also available as <a href='https://www.minneapolisfed.org/research/institute-working-papers/doves-for-the-rich-hawks-for-the-poor-distributional-consequences-of-systematic-monetary-policy'>FRB Minneapolis Opportunity and Inclusive Growth Institute (OIGI) Working Paper No.50</a></li>
<li class="lin"><emph>[December 2020]</emph> <a href='/files/br/eiq420-boomers-vs-millennials.pdf'>"Baby Boomers vs. Millennials Through Monetary Policy?"</a> is published in the FRB Philadelphia Economic Insights, Fourth Quarter 2020.</li>
<li class="lin"><emph>[October 2020]</emph> Working paper <a href='/files/paper/cscovid-paper-201030.pdf'>"Consumption and Saving during the Pandemic"</a> is posted.</li>
<li class="lin"><emph>[June 2020]</emph> I am preparing for the JHANK package, for solving and simulating Heterogneous-Agent New-Keynesian (HANK) models (relativley) easily. Once it is ready, I will post the package and instructions at <a href='/jhank/'>JHANK</a> page.</li>
</ul>
