---
layout: single
classes: wide
---

<h4>Publications (Refereed Journals)</h4>

<div class="jtitle"><a href="https://doi.org/10.1016/j.jedc.2020.103883">Capital Income Taxation with Housing</a></div>
<div class="jtext"><b><i>Journal of Economic Dynamics and Control</i></b>, 115, June 2020, 103883. <a href="/files/paper/htax-paper-200107.pdf"><b>[WP version]</b></a></div>
<div class="jabst">I quantitatively investigate capital income taxation using a general-equilibrium heterogeneous-agent model with housing.</div>

<div class="jtitle"><a href="https://onlinelibrary.wiley.com/doi/abs/10.1111/iere.12435">Home Equity in Retirement</a></div>
<div class="jtext">with Irina A. Telyukova, <b><i>International Economic Review</i></b>, 61(2), May 2020, pp. 573-616. <a href="/files/paper/nt1-paper-191127-wp.pdf"><b>[WP version]</b></a>. Third prize, Networks Financial Institute Competition for best paper in financial services regulatory reform, 2011.</div>
<div class="jabst">We show that explicitly considering housing assets is important in accounting for the observed slow decumulation of savings among U.S. retirees.</div>

<div class="jtitle"><a href="http://onlinelibrary.wiley.com/doi/10.1111/jofi.12489/full">Reverse Mortgage Loans: A Quantitative Analysis</a></div>
<div class="jtext">with Irina A. Telyukova, <b><i>Journal of Finance</i></b>, 72(2), April 2017, pp. 911-950. <a href="/files/paper/nt2-paper-160712-JF-Final-All.pdf"><b>[WP version]</b></a>.</div>
<div class="jabst">We build a structural model of retirees' decision of purchasing a reverse mortgages loan (RML), and investigate the reason behind its low take-up.</div>

<div class="jtitle"><a href="https://www.sciencedirect.com/science/article/abs/pii/S004727271630158X">Assessing Bankruptcy Reform in a Model with Temptation and Equilibrium Default</a></div>
<div class="jtext"><b><i>Journal of Public Economics</i></b>, 45, January 2017, pp. 42-64. <a href="/files/paper/hydef-paper-160711-JPubE.pdf"><b>[WP version]</b></a></div>
<div class="jabst">I study welfare implications of the 2005 U.S. Bankruptcy Law Reform, using a life-cycle equilibrium model with individuals with and without temptation.</div>

<div class="jtitle"><a href="http://www.sciencedirect.com/science/article/pii/S1094202516300102">Worker Flows and Job Flows: A Quantitative Investigation</a></div>
<div class="jtext">with Shigeru Fujita, <b><i>Review of Economic Dynamics</i></b>, 22, October 2016, pp. 1-20. <a href="/files/paper/jobwork-paper-160525-RED-final.pdf"><b>[WP version]</b></a></div>
<div class="jabst">We study joint behavior of worker flows and job flows in a multiple-worker firm search and matching model.</div>

<div class="jtitle"><a href="http://www.sciencedirect.com/science/article/pii/S0304393212000943">A Quantitative Analysis of Unemployment Benefit Extensions</a></div>
<div class="jtext"><b><i>Journal of Monetary Economics</i></b>, 59(7), November 2012, pp. 686-702. <a href="/files/paper/uiext-paper-120611.pdf"><b>[WP version]</b></a></div>
<div class="jabst">I find that the significant UI benefit extensions during the Great Recession raised the unemployment rate by 1.4 percentage points, using a calibrated structural model with labor market frictions and consumption-saving decision.</div>

