---
layout: single
classes: wide
---

{{ content }}

<h4>Homepage of Makoto Nakajima</h4>
<div class="norm">Hi! I am an economist specialized in macroeconomics and computational methods. I am currently Economic Advisor and Economist, at <a href='https://www.philadelphiafed.org/'>the Federal Reserve Bank of Philadelphia</a>, <a href='https://www.philadelphiafed.org/research-and-data'>Research Department</a>. I am also affiliated with <a href="https://www.philadelphiafed.org/consumer-finance-institute">Consumer Finance Institute</a> of the FRB Philadelphia, <a href="https://www.minneapolisfed.org/institute">Opportunity and Inclusive Growth Institute</a> of the FRB Minneapolis, and <a href="https://hceconomics.uchicago.edu/">Human Capital and Economic Opportunity (HECO)</a> Global Working Group, at the University of Chicago.</div>

<h4>Curriculum Vitae</h4>
<div class="norm"><a href='https://makotonakajima.github.io/files/cv/200613cv-makoto-nakajima.pdf'>Download CV</a></div>
