---
layout: single
classes: wide
---

{{ content }}

<h4>Home</h4>
<div class="norm">Hi! I am an economist specialized in macroeconomics and computational methods. I am currently Economic Advisor and Economist, at <a href='https://www.philadelphiafed.org/'>the Federal Reserve Bank of Philadelphia</a>, <a href='https://www.philadelphiafed.org/research-and-data'>Research Department.</a></div>

<h4>Curriculum Vitae</h4>
<div class="norm"><a href='https://makotonakajima.github.io/files/cv/200613cv-makoto-nakajima.pdf'>Download CV</a></div>
