---
layout: single
classes: wide
---

{{ content }}

<h5>Working Papers</h5>

<div class="jtitle"><strg>[New]</strg> <a href="/files/paper/nt3-paper-230105.pdf">Medical Expenses and Saving in Retirement: The Case of U.S. and Sweden</a></div>
<div class="jtext">with Irina A. Telyukova. Conditionally accepted at <b><i>American Economic Journal: Macroeconomics</i></b>.</div>
<div class="jabst">We study how differences in medical expense risks and the public health insurance between the U.S. and Sweden affect asset decumulation behavior of retirees, using a full life-cycle model.</div>

<div class="jtitle"><strg>[New]</strg> <a href="/files/paper/jhank2-paper-230606.pdf">Monetary Policy with Racial Inequality</a></div>
<div class="jtext">R&R at <b><i>American Economic Journal: Macroeconomics</i></b>. Slightly older version available as <a href="https://www.minneapolisfed.org/research/institute-working-papers/monetary-policy-with-racial-inequality">FRB Minneapolis Opportunity and Inclusive Growth Institute (OIGI) Working Paper No.70</a>.</div>
<div class="jabst">I build a HANK (heterogeneous-agent New-Keynesian) model with racial inequality, and study how monetary policy affects different racial groups differently.</div>

<div class="jtitle"><a href="/files/paper/gkn1-paper-210614-FRBP-WP.pdf">Doves for the Rich, Hawks for the Poor? Distributional Consequences of Monetary Policy</a></div>
<div class="jtext">with Nils Gornemann and Keith Kuester. Also available as <a href="https://www.minneapolisfed.org/research/institute-working-papers/doves-for-the-rich-hawks-for-the-poor-distributional-consequences-of-systematic-monetary-policy">FRB Minneapolis Opportunity and Inclusive Growth Institute (OIGI) Working Paper No.50</a>.</div>
<div class="jabst">We build the first HANK model with labor market frictions and study heterogeneous welfare implications of monetary policy.</div>

<div class="jtitle"><a href="/files/paper/cscovid-paper-201030.pdf">Consumption and Saving during the Pandemic</a></div>
<div class="jabst">I study the macroeconomic, distributional, and welfare implications of pandemic policies which are already implemented or currently discussed.</div>

<div class="jtitle"><a href="/files/paper/cc3-paper-191112.pdf">Credit, Bankruptcy, and Aggregate Fluctuations</a></div>
<div class="jtext">with Jose-Victor Rios-Rull. Also available as <a href="https://www.philadelphiafed.org/-/media/research-and-data/publications/working-papers/2019/wp19-48.pdf">FRB Philadelphia Working Paper No.19-48</a> and <a href="https://www.nber.org/papers/w20617">NBER Working Paper No. 20617</a> (older version).</div>
<div class="jabst">We report business cycle properties of unsecured consumer credit and bankruptcies, and investigate the underlying mechanism.</div>

<div class="jtitle"><a href="/files/paper/cyclinc-paper-190708.pdf">Cyclical Labor Income Risk</a></div>
<div class="jtext">with Vladimir Smirnyagin.</div>
<div class="jabst">We investigate how variance and skewness of labor income risks fluctuate over the business cycles.</div>

<div class="jtitle"><a href="/files/paper/dm1-paper-170322.pdf">Health-Care Reform or Labor Market Reform? A Quantitative Analysis of the Affordable Care Act</a></div>
<div class="jtext">with Didem Tuzemen.</div>
<div class="jabst">We investigate health and labor market implications of the ACA, using an equilibrium model with worker and firm heterogeneity.</div>

<div class="jtitle"><a href="/files/paper/earnhouse-paper-050703.pdf">Rising Earnings Instability, Portfolio Choice, and Housing Prices</a></div>
<div class="jabst">I study how rising income inequality affects prices of housing and financial assets.</div>
