---
layout: archive
classes: wide
---

<h4>Working Papers</h4>

<div class="jtitle"><a href="/files/paper/cc3-paper-191112.pdf">Credit, Bankruptcy, and Aggregate Fluctuations</a></div>
<div class="jtext">Joint with Jose-Victor Rios-Rull, R&R at <b><it>Review of Economic Studies</it></b>.</div>
<div class="jtext">- Also available as <a href="https://www.philadelphiafed.org/-/media/research-and-data/publications/working-papers/2019/wp19-48.pdf">FRB Philadelphia Working Paper No.19-48</a>.</div> 
<div class="jtext">- Older version available as <a href="https://www.nber.org/papers/w20617">NBER Working Paper No. 20617</a>.</div>
