---
layout: single
classes: wide
---

{{ content }}

<h4>Working Papers</h4>

<div class="jtitle"><a href="/files/paper/cc3-paper-191112.pdf">Credit, Bankruptcy, and Aggregate Fluctuations</a></div>
<div class="jtext">Joint with Jose-Victor Rios-Rull, R&R at <b><i>Review of Economic Studies</i></b>. Also available as <a href="https://www.philadelphiafed.org/-/media/research-and-data/publications/working-papers/2019/wp19-48.pdf">FRB Philadelphia Working Paper No.19-48</a> and <a href="https://www.nber.org/papers/w20617">NBER Working Paper No. 20617</a> (older version).</div>
<div class="jabst">We report business cycle properties of unsecured consumer credit and bankruptcies, and investigate the underlying mechanism.</div>

<div class="jtitle"><a href="/files/paper/gkn-paper-160405.pdf">Doves for the Rich, Hawks for the Poor? Distributional Consequences of Monetary Policy</a></div>
<div class="jtext">Joint with Nils Gornemann and Keith Kuester, R&R at <b><i>Econometrica</i></b>.</div>
<div class="jabst">We build the first HANK model with labor market frictions and study heterogeneous welfare implications of monetary policy.</div>

<div class="jtitle"><a href="/files/paper/cyclinc-paper-190708.pdf">Cyclical Labor Income Risk</a></div>
<div class="jtext">Joint with Vladimir Smirnyagin</div>
<div class="jabst">We investigate how variance and skewness of labor income risks fluctuate over the business cycles.</div>

<div class="jtitle"><a href="/files/paper/nt3-paper-180404-wp-combo.pdf">Medical Expenses and Saving in Retirement: The Case of U.S. and Sweden</a></div>
<div class="jtext">Joint with Irina A. Telyukova, R&R at <b><i>American Economic Journal: Macroeconomics</i></b>. Also available as <a href="https://www.minneapolisfed.org/research/institute-working-papers/medical-expenses-and-saving-in-retirement-the-case-of-us-and-sweden">FRB Minneapolis, Opportunity and Inclusive Growth Institute Working Paper No. 8</a>.</div>
<div class="jabst">We study how differences in medical expense risks between the U.S. and Sweden affect asset decumulation behavior of retirees.</div>

<div class="jtitle"><a href="/files/paper/dm1-paper-170322.pdf">Health-Care Reform or Labor Market Reform? A Quantitative Analysis of the Affordable Care Act</a></div>
<div class="jtext">Joint with Didem Tuzemen, R&R at <b><i>Review of Economic Dynamics</i></b>.</div>
<div class="jabst">We investigate health and labor market implications of the ACA, using an equilibrium model with worker and firm heterogeneity.</div>

<div class="jtitle"><a href="https://www.imes.boj.or.jp/research/abstracts/japanese/20-J-09.html">Literature Review of Hank Models</a></div>
<div class="jtext">Joint with Yuuto Iwasaki, Nao Sudou, Fumitaka Nakamura, Bank of Japan IMES Discussion Paper, in Japanese.</div>
<div class="jabst">We review recent trend of literature using HANK (Heterogeneous-Agent New-Keynesian) models.</div>

<div class="jtitle"><a href="/files/paper/earnhouse-paper-050703.pdf">Rising Earnings Instability, Portfolio Choice, and Housing Prices</a></div>
<div class="jabst">I study how rising income inequality affects prices of housing and financial assets.</div>
